/*
base: #99b2dd (pale cerulean)
comp1: #3a405a (charcoal)
comp2: #f9dec9 (unbleached silk)
comp3: #e9afa3 (pastel pink)
comp4: #685044 (medium taupe)
*/

html {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #f9dec9;
}

#root, #app{
    height: auto;
}

/* add more selectors potentially */
h1 {
    /* hacky text outline for readability */
    text-shadow: -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444;
}

h1 {
    margin: 50px auto 40px;
    text-align: center;
    font-size: 5.4em;
    font-weight: bold;
    color: #fff;    
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1.6em;
}

#foregroundBox {
    max-width: 80%;
    max-height: 80%;
    height: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 50px 15px 15px;
    border-radius: 50px;
    display: block;
    overflow: auto;
}

#imageFrame {
    
}

#imageFrame *{
    display: block;
    margin: 0 auto;
    text-align: center;
}

#buttonPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto 5px;
}

#buttonPanel div{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #3a405a;
    font-weight: bold;
    font-size: 1.6em;
}

#buttonPanel div:hover{
    background-color: #99b2dd;
}

.clickable:active {
    transform: translateY(2px);
}

#imageInfoPanel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#imageInfoPanel a{
    display: inline-block;
    margin: 5px 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    color: #fff;
    background: #99b2dd;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

#imageInfoPanel #instaB {
    background: midnightblue;
}
#imageInfoPanel #redditB {
    background: crimson;
}
#imageInfoPanel #unspB {
    background: #000
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 2px 10px 2px 10px;
    background: #3a405a;
    color: #fff;
    border-top: 1px solid #000;
}