html {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(121, 235, 235);
    margin: 0;
}

a {
    text-decoration: none;
    color: blueviolet;
}

div {
    border: 1px solid grey;
}


#app h1 {
    width: 50%;
    margin: 50px auto 40px;
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    color: #fff;

    /* hacky text outline for readability */
    text-shadow: -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444;

}

.vertStretchDiv{
    margin: auto 0;
}

#foregroundBox {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 50px 10px;
    border-radius: 50px;
    display: block;
}



#buttonPanel {
    display:flex;
    flex-direction: row-reverse;
}

#imageInfoPanel {
    
}

#imageFrame {
    border: 2px solid rgba(20,20,20,0.5);
}

#imageFrame *{
    display: block;
    margin: 0 auto;
    text-align: center;
}


#navigationBox {
    
}