* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --background: #2d3436;
    --textcolor: #000;
    --textcolor_light: #fff;
    --highlight1: #74b9ff;
    --highlight2: #0984e3;
    --accentdark: rgba(61, 90, 108, 1);
    --accentlight: rgba(114, 169, 143, 1);
}


html {
    font-family: "DejaVu Sans", sans-serif;
}

body {
    margin: 0;
    background-color: var(--accentlight);
    color: var(--textcolor);
}

/* add more selectors potentially */
h1 {
    /* hacky text outline for readability */
    text-shadow: -1px -1px 0 #444,
    1px -1px 0 #444,
    -1px 1px 0 #444,
    1px 1px 0 #444;
}

h1 {
    margin: 1.5rem auto 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: var(--textcolor_light);    
}

img {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 1.5rem;
}

a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--textcolor_light);
}

a:hover {
    color: var(--highlight1);
}

a:active {
    color: var(--highlight2);
}

.button:active {
    transform: translateY(.5rem);
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}


/* Fix the boundaries of this damn box  */
#content_box {
    height: 100vh;
    max-height: calc(90vh - (4rem + 3rem));
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    border-radius: 2rem;
}


#button_panel {
    width: 100%;
    margin: 1rem auto 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#button_panel .button{
    display: inline-block;
    margin: 0 .8rem;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--textcolor_light);
    background-color: #3a405a;
}

#button_panel .button:hover{
    background-color: #99b2dd;
}

#artist_info_panel{
    align-self: flex-end;
    max-width: 100%;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}


#artist_info_panel a{
    width: 3rem;
    height: 3rem;
    margin: 0 .25rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    color: var(--textcolor_light);
    background: var(--highlight1);
}

#artist_info_panel #instaB {
    background: midnightblue;
}
#artist_info_panel #redditB {
    background: crimson;
}
#artist_info_panel #unspB {
    background: #000
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    padding-right: 1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: var(--background);
    color: #fff;
    border-top: 2px solid #000;
}

#footer .button{
    margin: 0.5rem 1rem;
}